body { 
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,7db9e8+100&1+0,0+100;Blue+to+Transparent */
	background: -moz-linear-gradient(top, rgba(30,87,153,1) 0%, rgba(125,185,232,0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(30,87,153,1) 0%,rgba(125,185,232,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(30,87,153,1) 0%,rgba(125,185,232,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#007db9e8',GradientType=0 ); /* IE6-9 */
}

a:hover {
	text-decoration: none;
}


.content {
	text-align: center;
	background-color: #fff;
	box-shadow: 0px 0px 7px 2px #888888 ;
	margin-top: 0px;
	border-radius: 5px;
}

.content p {
	font-size: 1.2em;
}

.footer-custom {
	background-color: #000;
	color: #aaaaaa;
	text-align: center;
	padding: 10px;
	font-size: 0.9em;
	margin-top: 20px;
}



/**************** Menu ******************/

#main-menu {
	margin-left: 80px;
	margin-right: 80px;
}

/*Posiciona la info de contacto en el menu*/

.navbar-center
{
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    margin-left: 30%;
}

.navbar-brand span {
	display: block;
	font-size: 0.8em;
}

/**************** /Menu ******************/



/**************** Imagenes ***************/

.image {
	position: relative;
	background-attachment: fixed;
	box-shadow: 0px 0px 10px 3px #888888 ;

}


/*Imagen1*/

#image1 {
	background-image: url(../images/image-a.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
}

#image1 h1{
	position: absolute;
	text-align: center;
	left: 0; right: 0; top: 0; bottom: 0;
	margin: auto;
	display: block;
	height: 10px;
}



/*Titulo Principal de Inicio*/

.main-title {
	text-shadow: 0px 0px 10px rgba(255,255,255,0.95);
	color: #000;	
}


/*Imagen 2*/

#image2 {
	background-image: url(../images/image-b.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
	border-radius: 8px;
}

.fondo {
	background-color: rgba(0,0,0,0.80);
	position: absolute;
	margin-top: 40vh;
	padding: 10px;
	color: #eee;
	text-shadow: 0px 0px 5px  #000000;
}

/**************** /Imagenes ***************/


/*Cargador de boton enviar*/

.loader {
    border: 4px solid #f3f3f3; /* Light grey */
    border-top: 4px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.development{
	background-color: rgba(23, 86, 118, 0.5);
}

.who-are-we{

}

.design{
	background-color: rgba(229, 88, 18, 0.5);
}

.our-services{
}

.contact-us{
}

.subtitle {
	/*color: #080357;*/
	color: #E55812;
}

.contorno {
	box-shadow: 0px 0px 7px 1px #888 ;
	border-radius: 5px;	
	padding: 10px;
	margin: 30px 0px;
	/*background-color: #fff;*/
	background-color: rgba(23, 86, 118, 0.08);
}


/*Colores

DB5461 DARK TERRA COTTA
175676 BLUE SAPPHIRE
000000 REGISTRATION BLACK
177E89 METALLIC SEAWEED
E55812 FLAME
*/

details[open] summary ~ * {
  animation: aditionals-details 1s;
}

@keyframes aditionals-details {
  0%    {opacity: 0; margin-top: -30px}
  100%  {opacity: 1; margin-top: 0px}
}

