body { 
	padding-top: 50px; 
}

.content {
	text-align: center;
	background-color: #dddddd;
	/*background-color: #ff6600;*/
}

.footer-custom {
	background-color: #111111;
	color: #aaaaaa;
	text-align: center;
	padding: 10px;
	font-size: 0.9em;
}



/**************** Menu ******************/

#main-menu {
	margin-left: 80px;
	margin-right: 80px;
}

/*Posiciona la info de contacto en el menu*/

.navbar-center
{
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    /*text-align: center;*/
    margin-left: 30%;
}

.navbar-brand span {
	display: block;
	font-size: 0.8em;
	/*color: red;*/
}

/**************** /Menu ******************/



/**************** Imagenes ***************/

.image {
	position: relative;
	background-attachment: fixed;
}


/*Imagen1*/

#image1 {
	background-image: url(../images/image-a.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
}

#image1 h1{
	position: absolute;
	text-align: center;
	left: 0; right: 0; top: 0; bottom: 0;
	margin: auto;
	display: block;
	height: 10px;
	font-size: 4em;
}


/*Titulo Principal de Inicio*/

.main-title {
	text-shadow: 0px 0px 15px  #ffffff;
	color: #000000;	
}


/*Imagen 2*/

#image2 {
	background-image: url(../images/image-b.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
}

.fondo {
	background-color: rgba(0,0,0,0.70);
	position: absolute;
	margin-top: 40vh;
	padding: 25px;
	color: #cccccc;
	text-shadow: 0px 0px 5px  #000000;
}

/**************** /Imagenes ***************/


/*Cargador de boton enviar*/

.loader {
    border: 4px solid #f3f3f3; /* Light grey */
    border-top: 4px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
}


